body a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.set {
    float: left;
}

.header {
    height: 66px;
    width: 1440px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 #DADDE0;
    /* background-color: pink; */
}

.header .logo {
    display: inline-block;
    float: left;
    font-family: Helvetica;
    color: #1960d2;
    font-size: 24px;
    /* margin-top: 21px;
    margin-left: 68px; */
    /* background-color: greenyellow; */
    padding-top: 0;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-left: 32px;
    margin-top: 18px;
}

.header .user {
    position: relative;
    float: right;
    list-style: none;
    /* background-color: plum; */
    display: block;
    padding-top: 23px;
    line-height: 23px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    text-align: left;
}

.exit {
    display: none;
    position: absolute;
    margin-left: 1334px;
    margin-top: 68px;
    width: 90px;
    height: 180px;
    background: #FAFAFA;
    text-align: center;
    border: 1px solid #D3D3D3;
    z-index: 10;
}

.exit a {
    float: left;
    padding-top: 50px;
    padding-left: 10px;
}

.header .user span {
    padding-right: 40px;
}

.nav {
    float: left;
    background-color: #F2F5F7;
    height: 1024px;
    width: 200px;
    position: absolute;
}

.yincang {
    margin-left: 200px;
    margin-top: 19.5px;
    float: left;
    width: 15.5px;
    height: 35px;
    background: #F2F5F7;
    border: 1px solid #E0E0E0;
    border-left: 0;
    border-radius: 0px 4px 4px 0px;
}

.nav .img1 {
    float: left;
    margin-left: 29px;
    margin-top: 42px;
    width: 18px;
    height: 18px;
}

.nav .img2 {
    float: left;
    margin-left: 29px;
    margin-top: 27px;
    width: 18px;
    height: 18px;
}

.nav ul {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    text-align: left;
    line-height: 14px;
    padding-top: 28px;
    margin-left: 16px;
}

.nav ul li {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
    /* margin-left: 64px; */
}

.nav .chuangjian {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #007AF5;
}

.main {
    margin-left: 200px;
    /* height: 1024px;
    width: 1024px; */
    overflow: hidden;
    /* background-color: sandybrown; */
}

.main .top {
    position: absolute;
    margin-left: 48px;
    margin-top: 21px;
    height: 29px;
    /* background-color: greenyellow; */
    font-size: 21px;
}

.main .liucheng {
    position: absolute;
    width: 1241px;
    height: 102px;
    margin-top: 72px;
    /* background-color: green; */
    background: #FAFAFA;
    margin-left: -5px;
}

.main .liucheng ul {
    position: absolute;
}

.yuan {
    height: 28px;
    width: 28px;
    display: block;
    background: #0C7FF2;
    border: 2px solid #0c7ff2;
    border-radius: 50%;
    border-width: 2px;
    color: #ffffff;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    text-align: center;
    line-height: 31px;
    float: left;
}

.yuan2 {
    border: 1px solid #D2D2D2;
    background-color: #FAFAFA;
    color: #D2D2D2 !important;
}

.text1 {
    position: absolute;
    margin-left: 50px;
    margin-top: 38px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    text-align: center;
    float: left;
}

.line1 {
    width: 360px;
    height: 1px;
    background: #D3D3D3;
    margin-left: 162px;
    margin-top: 51px;
    float: left;
}

.text2 {
    margin-left: 534px;
}

.line2 {
    margin-left: 123px;
}

.text3 {
    margin-left: 1015px;
}

.head1 {
    position: absolute;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #333333;
    text-align: left;
    line-height: 18px;
    margin-top: 199px;
    margin-left: 49px;
}

.head1 p {
    margin-top: -25px;
    margin-left: 39px;
}

.line3 {
    margin-left: 49px;
    margin-top: 241px;
    width: 1160px;
}

.vip {
    margin-left: 10px;
}

table {
    width: 721px;
    border: 1px solid #E4E8EB;
    margin-top: 25px;
}

table thead tr {
    background: #FAFAFA;
    height: 40px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    border: 1px solid #E4E8EB;
}

table tbody tr {
    background: #FFFFFF;
    height: 62px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    text-align: left;
    line-height: 14px;
    border: 1px solid #E4E8EB;
}

table tr th,
td {
    padding-left: 21px;
    border: 1px solid #E4E8EB;
}

.line4 {
    margin-top: 26px;
}

.shangpin {
    margin-top: 276px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    line-height: 14px;
}

.ka {
    position: absolute;
    margin-top: -23px;
    width: 110px;
    height: 36px;
    border: 1px solid #DADDE0;
    border-radius: 2px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #555555;
    text-align: center;
    line-height: 36px;
    margin-left: 300px;
}

.ka1 {
    margin-left: 166px;
    color: #0080FF;
    border: 1px solid #0080FF;
}

.ka2 {
    margin-left: 434px;
}

.jiagebiao {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    margin-top: 36px;
}

.danjia {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    margin-top: 24.6px;
}

.danjia li {
    color: #333333;
    text-align: left;
    margin-top: -14px;
    margin-left: 166px;
}

.aname {
    margin-top: 70px;
}

.aname button {
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #DADDE0;
    border-radius: 2px 0px 0px 2px;
    color: #D8D8D8;
}

.aname input {
    background: #FFFFFF;
    border: 1px solid #DADDE0;
    width: 110px;
    height: 31px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 14px;
}

.tishi {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    margin-left: 365px !important;
    margin-top: -26.6px !important;
}

.zongjia {
    margin-top: 35px;
}

.tongyi {
    margin-left: 48px;
    background: #1E7BE2;
    border-radius: 3px;
    width: 20px;
    height: 20px;
}

.xieyi {
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    text-align: left;
    line-height: 14px;
    margin-left: 78px;
    margin-top: -22px;
}

.zhifu {
    background: #1183ED;
    border: 1px solid #1183ed;
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    width: 106px;
    height: 36px;
    margin-left: 48px;
}

.fanhui {
    background: #FFFFFF;
    border: 1px solid #DADDE0;
    border-radius: 3px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #555555;
    text-align: center;
    width: 106px;
    height: 36px;
    margin-left: 24px;
}

</style>